<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PROJETJAVAJEE</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Traite</display-name>
    <servlet-name>Traite</servlet-name>
    <servlet-class>modele.Traite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Traite</servlet-name>
    <url-pattern>/Traite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TraiteClient</display-name>
    <servlet-name>TraiteClient</servlet-name>
    <servlet-class>controleur.TraiteClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TraiteClient</servlet-name>
    <url-pattern>/TraiteClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TraiteAgence</display-name>
    <servlet-name>TraiteAgence</servlet-name>
    <servlet-class>controleur.TraiteAgence</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TraiteAgence</servlet-name>
    <url-pattern>/TraiteAgence</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Donnees_Compte</display-name>
    <servlet-name>Donnees_Compte</servlet-name>
    <servlet-class>modele.Donnees_Compte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Donnees_Compte</servlet-name>
    <url-pattern>/Donnees_Compte</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TraiteCompte</display-name>
    <servlet-name>TraiteCompte</servlet-name>
    <servlet-class>controleur.TraiteCompte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TraiteCompte</servlet-name>
    <url-pattern>/TraiteCompte</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Compte</display-name>
    <servlet-name>Compte</servlet-name>
    <servlet-class>modele.Compte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Compte</servlet-name>
    <url-pattern>/Compte</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TraiteOperation</display-name>
    <servlet-name>TraiteOperation</servlet-name>
    <servlet-class>controleur.TraiteOperation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TraiteOperation</servlet-name>
    <url-pattern>/TraiteOperation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Donnees_Operation</display-name>
    <servlet-name>Donnees_Operation</servlet-name>
    <servlet-class>modele.Donnees_Operation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Donnees_Operation</servlet-name>
    <url-pattern>/Donnees_Operation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Operation</display-name>
    <servlet-name>Operation</servlet-name>
    <servlet-class>modele.Operation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Operation</servlet-name>
    <url-pattern>/Operation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TraiteLogin</display-name>
    <servlet-name>TraiteLogin</servlet-name>
    <servlet-class>controleur.TraiteLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TraiteLogin</servlet-name>
    <url-pattern>/TraiteLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Donnees_login</display-name>
    <servlet-name>Donnees_login</servlet-name>
    <servlet-class>modele.Donnees_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Donnees_login</servlet-name>
    <url-pattern>/Donnees_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>modele.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
</web-app>